serverlessup_host=<SERVERLESSUP_HOST>
serverlessup_token=<YOUR_SERVERLESSUP_TOKEN>
slack_client_id=<YOUR_SLACK_APP_CLIENT_ID>
slack_client_key=<YOUR_SLACK_APP_CLIENT_SECRET>
slack_redirect_uri=http://localhost:33000/function/SlackAuth